<!DOCTYPE html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cheatsheet/">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/cheatsheet.css" rel="stylesheet">
    <script>
        function btn(){
            document.frm.submit();
        }
    </script>
</head>
<body>
    <article class="my-3" id="validation">
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
            <h3>곡 정보 입력창</h3>
        </div>

        <div>
            <div class="bd-example">
                <form class="row g-3" action="/board/createMusicList" method="post" name="frm">
                    <div class="col-md-4">
                        <label for="validationServer01" class="form-label">곡 제목</label>
                        <input name="music_name" type="text" class="form-control is-valid" id="validationServer01" required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationServer02" class="form-label">가사</label>
                        <input name="lyrics" type="text" class="form-control is-valid" id="validationServer02"  required>
                    </div>
                    <div class="col-md-4">
                        <label for="validationServerUsername" class="form-label">아티스트</label>
                        <div class="input-group has-validation">
                            <input name="artist" type="text" class="form-control is-invalid" id="validationServerUsername" aria-describedby="inputGroupPrepend3" required>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="validationServer04" class="form-label">장르</label>
                        <input name="genre" type="text" class="form-control is-invalid" id="validationServer04" required>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit" onclick="btn()">곡 등록</button>
                    </div>
                </form>
            </div>
        </div>
    </article>
</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/cheatsheet.js"></script>
</html>