
<!doctype html>
<html lang="ko"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <title>Music List</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
    <script>
        function lyricsInfo(seq){
            const lyricsList = document.frm;
            lyricsList.seq.value = seq;
            lyricsList.setAttribute("action", "/board/lyrics")
            lyricsList.setAttribute("method", "get")
            lyricsList.submit();
        }
        function registerButton(){
            location.href ="/board/register";
        }
        function updateButton(seq){
            const updateMusic = document.update;
            updateMusic.seq.value = seq;
            updateMusic.submit();
        }
        function deleteButton(seq){
            const deleteMusic = document.delete;
            deleteMusic.seq.value = seq;
            deleteMusic.submit();
        }
    </script>
</head>
<form action="/board/findMusic" name="update" method="get">
    <input name="seq" type="hidden">
</form>
<form action="/board/delete" name="delete" method="post">
    <input name="seq" type="hidden">
</form>
<form name="frm">
    <input type="hidden" name="seq">
</form>
<body style="margin-left: 10px">

    <div class="container-fluid" >
        <div class="row">
            <h1 style="margin-left: 20px" ><strong> Music List </strong></h1>
            <div></div>
            <div class="table-responsive">
                <table style="vertical-align:middle;" class="table table-striped table-sm">
                    <thead>
                    <tr style="text-align: center">
                        <th scope="col">No</th>
                        <th scope="col">곡 제목</th>
                        <th scope="col">가사</th>
                        <th scope="col">아티스트</th>
                        <th scope="col">발매일</th>
                        <th scope="col">장르</th>
                        <th scope="col">수정</th>
                        <th scope="col">삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="text-align: center" th:each="list : ${List}">
                        <td ><span th:text=" ${list.seq}"></span></td>
                        <td><span th:text="${list.music_name}"></span></td>
                        <td>
<!--                            <span th:text="${list.lyrics}"></span>-->
                            <button class="btn btn-info" type="button" th:onclick="|lyricsInfo(${list.seq})|">가사</button>
                        </td>
                        <td><span th:text="${list.artist}"></span></td>
                        <td><span th:text="${list.release_date}"></span></td>
                        <td><span th:text="${list.genre}"></span></td>
                        <td><button class="btn btn-primary" type="button" th:onclick="|updateButton(${list.seq})|" >수정</button></td>
                        <td><button class="btn btn-danger" type="button" th:onclick="|deleteButton(${list.seq})|" >삭제</button></td>
                    </tr>
                    </tbody>
                </table>
                <button class="btn btn-primary" name="btn" type="button" onclick="registerButton()">곡 추가</button>
            </div>
        </div>
    </div>
</body>
</html>
