<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cheatsheet/">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/cheatsheet.css" rel="stylesheet">
    <script>
        function btn(){
           window.location.href="/board/list";
        }

    </script>
</head>
<body>
    <article class="my-3" id="validation">
        <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
            <h2 style="color: #0a53be"><span th:text="${lyricsView.music_name}"></span> 가사 </h2>
        </div>

    </article>
    <article class="my-3" id="accordion">

        <div>
            <div class="bd-example">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h4 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                가사 펼쳐보기
                            </button>
                        </h4>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="input-group">

                                <div style="overflow:scroll; width:100%; height:500px;" th:text="${lyricsView.lyrics}">
                                </div>
<!--                                <textarea  contenteditable="true" class="form-control" aria-label="With textarea">-->
<!--                                    <%=rb.getCa_pro() %>-->

<!--                                </textarea>-->

                            </div>
                        </div>
                        <button class="btn btn-warning" type="button" onclick="btn()">Music List</button>

                    </div>
                </div>
            </div>
        </div>
    </article>
</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/cheatsheet.js"></script>
</html>