<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/cheatsheet/">

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/cheatsheet.css" rel="stylesheet">
    <script>
        function btn(seq){
            const updateBtn = document.frm;
            updateBtn.seq.value = seq;
            updateBtn.submit();
        }
    </script>
</head>
<body>
<article class="my-3" id="validation">
    <div class="bd-heading sticky-xl-top align-self-start mt-5 mb-3 mt-xl-0 mb-xl-2">
        <h3 style="margin-left: 40px; color: #198754">가사 수정 창</h3>
    </div>

    <div>
        <div class="bd-example" >
            <form class="row g-3" action="/board/updateMusic" method="post" name="frm">
                <input type="hidden" name="seq">
                <div class="col-md-4" style="margin-left: 40px">
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div  class="input-group">
                            <label class="form-label" style="background-color: floralwhite">노래 가사</label>
                            <div style="overflow:auto; width: 100%; height:600px;">
                                <textarea name="lyrics" style="width:100%; height:100% " th:text="${find.lyrics}" contenteditable="true" class="form-control" aria-label="With textarea">
                                </textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <span style="margin-left: 40px">
                    <button class="btn btn-primary" type="button" th:onclick="|btn(${find.seq})|">수정완료</button>
                </span>
            </form>
        </div>
    </div>
</article>
</body>
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="/js/cheatsheet.js"></script>
</html>